html, body {
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #222;
}

.single-task {
    min-height: 75px;
    padding: 5px;
    background: green;
    position: relative;
    margin-bottom: 10px;
}